.mobile-view {
  .chord-directory {
    .chord-directory-search-wrapper {
      display: flex;
      justify-content: center;
    }

    .chord-directory-search {
      font-size: $font-up-2;
      padding: 0.5em 0;

      .chord-directory-search-bar {
        width: calc(100vw - 2em);
      }
    }
    .chord-directory-browse {
      .chord-directory-items {
        padding-right: 0;
      }
      flex-direction: column;
      .chord-directory-results .result-count {
        padding-left: 0;
      }
      .chord-directory-topic-list {
        flex-basis: 100%;
      }
      .chord-directory-topic-link {
        padding-right: 0.25em;
      }
      .loading-container {
        padding: 0.625em 0;
      }
      .chord-directory-topic {
        width: calc(100vw - 20px);
      }
    }
  }

  .chord-directory-filters {
    margin-top: 0;
    background: var(--primary-very-low, $primary-very-low);
    padding: 0 0.5em;
    .chord-directory-items:first-of-type {
      margin-top: 1em;
    }
    + .chord-directory-results {
      margin-top: 2em;
    }
  }

  .archetype-chord-directory-topic {
    .chord-directory-filters {
      display: none;
    }
  }

  .chord-directory-expander {
    margin: 1em 0 0 0;
    width: 100%;
  }
}
